<mat-tab-group [(selectedIndex)]=selectedIndex>
  <mat-tab label="Cadastro">
    <mat-card>
      <mat-card-title>Cadastro das Regiões</mat-card-title>
      <form [formGroup]="formData" (ngSubmit)="isEdit ? edit(formData.value) : save(formData.value)">

        <mat-form-field appearance="fill">
          <mat-label>Sigla da Região</mat-label>
          <input matInput placeholder="ex. SP" formControlName="region" [errorStateMatcher]="matcher">
          <mat-error
            *ngIf="(formData.get('region')?.hasError('maxlength') || formData.get('region')?.hasError('minlength')) && !formData.get('region')?.hasError('required')">
            Deve possuir 2 caracteres</mat-error>
          <mat-error
            *ngIf="formData.get('region')?.hasError('duplicateRegion') && !formData.get('region')?.hasError('required')">
            Região já Cadastrada</mat-error>
          <mat-error *ngIf="formData.get('region')?.hasError('required')">Campo Obrigatório</mat-error>
        </mat-form-field>

        <button class="btn-submit" mat-raised-button type="submit" [disabled]="formData.invalid">
          Salvar
        </button>
      </form>

    </mat-card>
  </mat-tab>
  <mat-tab label="Lista">
    <mat-card>
      <mat-card-title>Lista das Regiões</mat-card-title>

      <div class="header-container">
        <form class="list-region" [formGroup]="searchData" (ngSubmit)="search(searchData.value)">
          <input matInput type="search" placeholder="região" class="search-list" formControlName="search">
          <button mat-raised-button color="primary" class="btn-list" type="submit">
            <mat-icon>search</mat-icon>
            Pesquisar
          </button>
        </form>

        <button mat-raised-button class="download" type="button" (click)="gerarPlanilha()">
          Dowload Excel <mat-icon>file_download</mat-icon>
        </button>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

        <!-- Store Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'ativo' ? 'active' : 'inactive'">
            {{element.id}}
          </td>
        </ng-container>

        <!-- Number Column -->
        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Região </th>
          <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'ativo' ? 'active' : 'inactive'">
            {{element.region}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="number_loja">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº de Lojas </th>
          <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'ativo' ? 'active' : 'inactive'">
            {{element.number_store}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'ativo' ? 'active' : 'inactive'">
            <button mat-icon-button (click)="callEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openModal(element.id, element.region)">
              <mat-icon>store</mat-icon>
            </button>
            <button mat-icon-button *ngIf="element.status === 'inativo'" (click)="toggleStatus(element)">
              <mat-icon>check_box</mat-icon>
            </button>

            <button mat-icon-button *ngIf="element.status === 'ativo'" (click)="toggleStatus(element)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-card class="not-found" *ngIf="dataSource.data.length < 1">
        <p>Nenhuma região cadastrada!</p>
      </mat-card>

      <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 15, 25]"></mat-paginator>
    </mat-card>
  </mat-tab>
</mat-tab-group>
