<ul class="nav nav-tabs">
  <li class="nav-item">
    <button [ngClass]="selectedIndex === 1 ? 'btn-outline-secondary text-light active-left':'btn-outline text-dark'"
      class="btn nav-link" (click)="toggleAba(1)">Cadastro</button>
  </li>
  <li class="nav-item">
    <button [ngClass]="selectedIndex === 2 ? 'btn-outline-secondary text-light active-right':'btn-outline text-dark'"
      class="btn nav-link" (click)="toggleAba(2)">Lista</button>
  </li>
</ul>

<div class="tab-content">
  <ngb-panel *ngIf="selectedIndex === 1" id="cadastro_region" title="Cadastro de Lojas">
    <h4 class="mt-4">Cadastro das Regiões</h4>

    <form [formGroup]="formData" (ngSubmit)="save(formData.value)">
      <div class="form-group">
        <label
          [ngClass]="!!(formData.get('region')?.invalid && (formData.get('region')?.dirty || formData.get('region')?.touched)) ? 'text-danger' : 'text-dark'">Sigla
          da Região</label>
        <input class="form-control"
          [ngClass]="!!(formData.get('region')?.invalid && (formData.get('region')?.dirty || formData.get('region')?.touched)) ? 'is-invalid' : 'text-dark'"
          placeholder="ex. SP" formControlName="region">
        <div
          *ngIf="!!(formData.get('region')?.invalid && (formData.get('region')?.dirty || formData.get('region')?.touched))">
          <ngb-alert [dismissible]="false" type="danger" class="h-25 mb-0 px-3 py-2"
            *ngIf="formData.get('region')?.hasError('maxlength') || formData.get('region')?.hasError('minlength') && !(formData.get('region')?.hasError('required'))">
            Deve possuir 2 caracteres</ngb-alert>
          <ngb-alert [dismissible]="false" type="danger" class="h-25 mb-0 px-3 py-2"
            *ngIf="formData.get('region')?.hasError('duplicateRegion') && !(formData.get('region')?.hasError('required'))">
            Região já Cadastrada</ngb-alert>
          <ngb-alert [dismissible]="false" type="danger" class="h-25 mb-0 px-3 py-2"
            *ngIf="formData.get('region')?.hasError('required')">
            Campo
            Obrigatório
          </ngb-alert>
        </div>
      </div>

      <button class="btn-submit btn btn-primary" type="submit" [disabled]="formData.invalid">
        Salvar
      </button>
    </form>

  </ngb-panel>

  <ngb-panel *ngIf="selectedIndex === 2" id="lista_region" title="Lista de Lojas">
    <h4 class="mt-4">Lista das Regiões</h4>
    <div class="header-container">
      <form class="list-region" [formGroup]="searchData" (ngSubmit)="search(searchData.value)">
        <input class="form-control search-list" type="search" placeholder="região" formControlName="search">
        <button class="btn-list btn btn-outline-secondary text-light" type="submit">
          <span>Pesquisar</span>
        </button>
      </form>

      <button class="download btn btn-success" type="button" (click)="gerarPlanilha()">
        <span>Dowload Excel</span><i class="fa fa-regular fa-download"></i>
      </button>
    </div>

    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Região</th>
          <th scope="col">Nº de Lojas</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let region of dataSource.data">
          <td>{{region.id}}</td>
          <td>{{region.region}}</td>
          <td>{{region.number_store}}</td>
          <td scope="row">
            <button class="btn btn-light " (click)="callEdit(region)">
              <i class="fa fa-regular fa-pencil"></i>
            </button>
            <button class="btn btn-light" (click)="openModal(region.id, region.region)">
              <i class="fa fas fa-shopping-basket	"></i>
            </button>
            <button class="btn btn-light" *ngIf="region.status === 'inativo'" (click)="toggleStatus(region)">
              <i class="fa fa-regular fa-check"></i>
            </button>

            <button class="btn btn-light" *ngIf="region.status === 'ativo'" (click)="toggleStatus(region)">
              <i class="fa fa-regular fa-ban"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

    <mat-card class="not-found" *ngIf="dataSource.data.length < 1">
      <p>Nenhuma usuário encontrada!</p>
    </mat-card>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
      </ngb-pagination>

    </div>

  </ngb-panel>
</div>
