<ngb-panel title="Modal Lojas">
  <h6 class="mt-4">Região: {{region}}</h6>

  <div class="form-group radio">
    <label class="form-check-label">Selecione uma opção:</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" value="all" [(ngModel)]="option">
      <label class="form-check-label">Todas as lojas</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" value="select" [(ngModel)]="option">
      <label class="form-check-label">Selecionar as Lojas</label>
    </div>
  </div>

  <div class="header-container">
    <form class="list-user" [formGroup]="searchData" (ngSubmit)="search(searchData.value)">
      <input class="form-control search-list" type="search" placeholder="nº da loja" formControlName="search">
      <button class="btn-list btn btn-outline-secondary text-light" type="submit">
        <span>Pesquisar</span>
      </button>
    </form>

    <button class="download btn btn-success" type="button" (click)="gerarPlanilha()">
      <span>Dowload Excel</span><i class="fa fa-regular fa-download"></i>
    </button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Cod</th>
        <th scope="col">Loja</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let store of dataSource.data">
        <td>{{store.number}}</td>
        <td>{{store.name}}</td>
        <td>{{store.status}}</td>
        <td scope="row">
          <button class="btn btn-light" *ngIf="store.selected" (click)="toggleStatus(store)">
            <i class="fa fas fa-check-square"></i>
          </button>

          <button class="btn btn-light" *ngIf="!store.selected" (click)="toggleStatus(store)">
            <i class="fa fas fa-square"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>

  <ngb-panel class="not-found" *ngIf="dataSource.data.length < 1">
    <p>Nenhuma usuário encontrada!</p>
  </ngb-panel>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshCountries()">
    </ngb-pagination>

  </div>

  <div class="panel-footer">
    <button class="btn btn-secondary" (click)="activeModal.close()">Cancelar</button>
    <button class="btn btn-primary" (click)="activeModal.close()">Salvar</button>
  </div>

</ngb-panel>
