<ul class="nav nav-tabs">
  <li class="nav-item">
    <button [ngClass]="selectedIndex === 1 ? 'btn-outline-secondary text-light active-left':'btn-outline text-dark'"
      class="btn nav-link" (click)="toggleAba(1)">Cadastro</button>
  </li>
  <li class="nav-item">
    <button [ngClass]="selectedIndex === 2 ? 'btn-outline-secondary text-light active-right':'btn-outline text-dark'"
      class="btn nav-link" (click)="toggleAba(2)">Lista</button>
  </li>
</ul>

<div class="tab-content">
  <ngb-panel *ngIf="selectedIndex === 1" id="cadastro_store" title="Cadastro de Lojas">
    <h4 class="mt-4">Cadastro de Lojas</h4>

    <form [formGroup]="formData" (ngSubmit)="save(formData.value)">
      <div class="form-group">
        <label
          [ngClass]="!!(formData.get('number')?.invalid && (formData.get('number')?.dirty || formData.get('number')?.touched)) ? 'text-danger' : 'text-dark'">Nº
          da Loja</label>
        <input class="form-control"
          [ngClass]="!!(formData.get('number')?.invalid && (formData.get('number')?.dirty || formData.get('number')?.touched)) ? 'is-invalid' : 'text-dark'"
          placeholder="ex. Analista Junior" formControlName="number">
        <div
          *ngIf="!!(formData.get('number')?.invalid && (formData.get('number')?.dirty || formData.get('number')?.touched))">
          <ngb-alert [dismissible]="false" type="danger" class="h-25 mb-0 px-3 py-2"
            *ngIf="formData.get('number')?.hasError('duplicateNumberStore') && !(formData.get('number')?.hasError('required'))">
            Loja já existe</ngb-alert>
          <ngb-alert [dismissible]="false" type="danger" class="h-25 mb-0 px-3 py-2"
            *ngIf="formData.get('number')?.hasError('required')">
            Campo
            Obrigatório
          </ngb-alert>
        </div>
      </div>

      <div class="form-group">
        <label
          [ngClass]="!!(formData.get('name')?.invalid && (formData.get('name')?.dirty || formData.get('name')?.touched)) ? 'text-danger' : 'text-dark'">Nome
          da Loja</label>
        <input class="form-control"
          [ngClass]="!!(formData.get('name')?.invalid && (formData.get('name')?.dirty || formData.get('name')?.touched)) ? 'is-invalid' : 'text-dark'"
          placeholder="ex. João Silva" formControlName="name">
        <div
          *ngIf="!!(formData.get('name')?.invalid && (formData.get('name')?.dirty || formData.get('name')?.touched))">
          <ngb-alert [dismissible]="false" type="danger" class="h-25 mb-0 px-3 py-2"
            *ngIf="formData.get('name')?.hasError('required')">
            Campo
            Obrigatório
          </ngb-alert>
        </div>
      </div>

      <div class="form-group">
        <label
          [ngClass]="!!(formData.get('region')?.invalid && (formData.get('region')?.dirty || formData.get('region')?.touched)) ? 'text-danger' : 'text-dark'">Região</label>
        <ng-select class="form-control" formControlName="region" placeholder="Escolha uma região">
          <ng-option *ngFor="let region of regions" [value]="region.id">{{region.region}}</ng-option>
        </ng-select>
        <div
          *ngIf="!!(formData.get('region')?.invalid && (formData.get('region')?.dirty || formData.get('region')?.touched))">
          <ngb-alert [dismissible]="false" type="danger" class="h-25 mb-0 px-3 py-2"
            *ngIf="formData.get('region')?.hasError('required')">
            Campo
            Obrigatório
          </ngb-alert>
        </div>
      </div>

      <button class="btn-submit btn btn-primary" type="submit" [disabled]="formData.invalid">
        Salvar
      </button>
    </form>

  </ngb-panel>

  <ngb-panel *ngIf="selectedIndex === 2" id="lista_store" title="Lista de Lojas">
    <h4 class="mt-4">Lista de Lojas</h4>
    <div class="header-container">
      <form class="list-store" [formGroup]="searchData" (ngSubmit)="search(searchData.value)">
        <input class="form-control search-list" type="search" placeholder="nº da loja" formControlName="search">
        <button class="btn-list btn btn-outline-secondary text-light" type="submit">
          <span>Pesquisar</span>
        </button>
      </form>

      <button class="download btn btn-success" type="button" (click)="gerarPlanilha()">
        <span>Dowload Excel</span><i class="fa fa-regular fa-download"></i>
      </button>
    </div>

    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nº da Loja</th>
          <th scope="col">Loja</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let position of dataSource.data">
          <td>{{position.id}}</td>
          <td>{{position.number}}</td>
          <td>{{position.name}}</td>
          <td scope="row">
            <button class="btn btn-light" *ngIf="position.status === 'inativo'" (click)="toggleStatus(position)">
              <i class="fa fas fa-square"></i>
            </button>

            <button class="btn btn-light" *ngIf="position.status === 'ativo'" (click)="toggleStatus(position)">
              <i class="fa fas fa-check-square"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

    <mat-card class="not-found" *ngIf="dataSource.data.length < 1">
      <p>Nenhuma usuário encontrada!</p>
    </mat-card>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
      </ngb-pagination>

    </div>

  </ngb-panel>
</div>
