.mat-tab-label {
  color: #fff;
  opacity: 1 !important;
  font-size: 1rem;
  letter-spacing: 0.1rem;

  width: 50%;
  justify-content: flex-start !important;

  border-radius: 5px;
}

.mat-tab-header {
  border-radius: 3px;
  background-color: #555;
  margin-bottom: 1rem;
}

.mat-tab-group {
  border: 2px outset #000;
  border-radius: 7px;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #a4c4ee;
}

.mat-card {
  padding: 1rem 2rem !important;
}

strong {
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 1.2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.mat-form-field {
  width: 100%;
  margin: 0 auto;
}
.mat-form-field + .mat-form-field {
  margin-top: 1.2rem;
}

.mat-radio-group {
  width: 100%;
  margin: 1.2rem auto;
}

.mat-radio-button + .mat-radio-button {
  margin-left: 1rem;
}

.mat-raised-button.btn-submit {
  cursor: pointer;
  width: 25%;
  height: 2.7rem;
  margin: 3rem 0 1rem auto;
  border: none;
  border-radius: 3px;
  background-color: #3f51b5;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: background 0.3s;
}

.mat-raised-button.btn-submit:hover {
  background-color: #2d3ea0;
}

.mat-raised-button.btn-submit:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #222;
}

form.list-store {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

form.list-store .mat-form-field {
  height: 24px;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.mat-raised-button.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  height: 40px;
  width: 12rem;
}
.mat-raised-button.btn-list span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9rem;
}

.mat-input-element.search-list {
  border: 1px solid #000;
  padding: 0.55rem 1rem;
  border-radius: 5px;
  height: 40px;
}

.mat-raised-button.download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 2rem;
  margin-left: 1rem;
  height: 40px;
  width: 15rem;
  background-color: #02af19;
  color: #fff;
  transition: background 0.3s;
}

.mat-raised-button.download:hover {
  background-color: #009414;
}

.mat-raised-button.download span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9rem;
}

.table {
  width: 60%;
  margin: 3rem auto;
}

.mat-header-row {
  background-color: #06055a;
}

.mat-header-row th {
  color: #fff;
  font-size: 1rem;
}

.mat-header-row th {
  color: #fff;
  font-size: 1rem;
}

.mat-column-status,
.mat-column-action {
  width: 4rem;
}

.mat-column-id {
  width: 4rem;
}

.mat-column-action span {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

.mat-cell.active {
  background-color: #36f47555;
}

.mat-cell.inactive {
  background-color: #f4433655;
}

.mat-column-action span + span {
  margin-left: 1.5rem;
}

.not-found span {
  color: #ff0000;
  margin-left: 0.3rem;
}

.not-found p {
  margin-top: 1.2rem;
  font-size: 1rem;
}

.not-found button {
  margin-top: 2rem;
}

.mat-divider-vertical {
  height: 100%;
  width: 0px !important;
  store: inherit !important;
}

.mat-ink-bar {
  height: 3px !important;
}

.mat-paginator {
  width: 62%;
  margin: 0 auto;
}
