strong {
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 1.2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

form.list-store {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  input {
    margin-right: 1rem;
    height: 2.5rem;
  }
}
.header-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.table {
  width: 60%;
  margin: 3rem auto;
}

ul li {
  display: flex;
}

label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.09;
  padding-left: 0.2rem;
}

input.form-control {
  height: 3rem;
}

#cadastro_store {
  button {
    cursor: pointer;
    width: 25%;
    height: 2.7rem;
    margin: 3rem 0 1rem auto;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 0.1rem;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.btn.btn-outline-secondary {
  background-color: #17475c;
  &:active {
    background-color: #17475c !important;
    border-color: #17475c !important;
  }
}

strong {
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 1.2rem;
}

ng-select {
  height: 3rem !important;
  border-bottom: 1px solid #000;
  .ng-select-container {
    height: 2.8rem !important;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.btn.download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 2rem;
  margin-left: 1rem;
  height: 40px;
  width: 15rem;
  background-color: #02af19;
  color: #fff;
  transition: background 0.3s;
}

.btn.download:hover {
  background-color: #009414;
}

.btn.download .fa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9rem;
  margin-left: 1rem;
}

.table {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  td {
    vertical-align: middle;
  }
}

.btn.btn-light {
  padding: 0;
  background: none;
  border: none;
  .fa {
    font-size: 1.2rem;
  }

  & + .btn.btn-light {
    margin-left: 1rem;
  }
}
