<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" (panelChange)="changePanel($event)">
  <ngb-panel id="panel-1" type="secondary">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button
          class="d-flex align-items-center justify-content-between toggleBtn cursor-pointer bg-transparent border-0 text-left text-white w-100"
          ngbPanelToggle>
          <span>
            Painel 1
          </span>
          <i *ngIf="!panel1" class="fa fa-regular fa-chevron-down"></i>
          <i *ngIf="panel1" class="fa fa-regular fa-chevron-up"></i>
        </button>


      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <ul>
        <li><a class="text-info" href="/users">Usuários</a></li>
        <li><a class="text-info" href="/positions">Cargos</a></li>
        <li><a class="text-info" href="/stores">Lojas</a></li>
        <li><a class="text-info" href="/regions">Regiões</a></li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="panel-2" type="secondary">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button
          class="d-flex align-items-center justify-content-between toggleBtn cursor-pointer bg-transparent border-0 text-left text-white w-100"
          ngbPanelToggle>
          <span>
            Painel 2
          </span>
          <i *ngIf="!panel2" class="fa fa-regular fa-chevron-down"></i>
          <i *ngIf="panel2" class="fa fa-regular fa-chevron-up"></i>
        </button>

      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <ul>
        <li><a class="text-info" href="/users">Usuários</a></li>
        <li><a class="text-info" href="/positions">Cargos</a></li>
        <li><a class="text-info" href="/stores">Lojas</a></li>
        <li><a class="text-info" href="/regions">Regiões</a></li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="panel-3" type="secondary">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button
          class="d-flex align-items-center justify-content-between toggleBtn cursor-pointer bg-transparent border-0 text-left text-white w-100"
          ngbPanelToggle>
          <span>
            Painel 3
          </span>
          <i *ngIf="!panel3" class="fa fa-regular fa-chevron-down"></i>
          <i *ngIf="panel3" class="fa fa-regular fa-chevron-up"></i>
        </button>

      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <ul>
        <li><a class="text-info" href="/users">Usuários</a></li>
        <li><a class="text-info" href="/positions">Cargos</a></li>
        <li><a class="text-info" href="/stores">Lojas</a></li>
        <li><a class="text-info" href="/regions">Regiões</a></li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
